body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.gridthumb {
    height:100px;
}

.parent {
    display: table;
    table-layout: fixed;
}

.child {
    display:table-cell;
    vertical-align:middle;
    horiz-align:center;
    text-align:center;
}

.thumb_pic {
    max-height: 100px;
    max-width:100%;
    /*background-color: white;*/
}

p {
    font-size:200%;
}

.org_thumb {
    padding: 0 5px;
}
