.gridthumb {
    height:100px;
}

.parent {
    display: table;
    table-layout: fixed;
}

.child {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

#gridwell {
    width: 100%;
    height: 480px;
}

