{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1>
        About us
    </h1>

    <p>
        Charity Match is a service to help finding the charity that best matches your preferences,
        helping you to make a difference in the way that matters the most for you.
    </p>

    <p>
        The team consists of:
    </p>

    <ul>
        <li><p>Fredrik Svensson</p></li>
        <li><p>Jakob Willforss</p></li>
        <li><p>Johan Philipsson</p></li>
        <li><p>Martin Baste</p></li>
        <li><p>Zuzanna Sadowska</p></li>
    </ul>


    <h3>This is our challenge for <a href="http://www.openhack.io/">OpenHack.io 2016</a></h3>
</div>

{% endblock %}