{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" href="/static/charitymatch/css/index.css">
{% endblock %}

{% block content %}
<div class="hero">
<h1>CharityMatch <span class="icon-heart"></span></h1>
<p class="subtitle">Find a nonprofit<br> you believe in</p>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <div id="question-div">
                <div class="well">
                    <h2 class="text-center">Press the buttons to start filtering nonprofits</h2>
                    <div>
                        <div class="row">
                            <div class="pl1">
                                <h3>Interest subject</h3>
                            </div>
                            <div class="col-xs-4 mt1">
                                <button type="button" class="btn btn-lg btn-default center-button answer" data-value="health" data-question="subject"><span class="icon-health"></span></button>
                                <p class="button-text">Health</p>
                                
                            </div>
                            <div class="col-xs-4 mt1">
                                <button type="button" class="btn btn-lg btn-default center-button answer" data-value="environment" data-question="subject"><span class="icon-environment"></span></button>
                                <p class="button-text">Environment</p>
                            </div>
                            <div class="col-xs-4 mt1">
                                <button type="button" class="btn btn-lg btn-default center-button answer" data-value="children" data-question="subject"><span class="icon-children"></span></button>
                                <p class="button-text">Children</p>
                            </div>
                            <div class="col-xs-4 mt1">
                                <button type="button" class="btn btn-lg btn-default center-button answer" data-value="poverty" data-question="subject"><span class="icon-poverty"></span></button>
                                <p class="button-text">Poverty</p>
                            </div>
                            <div class="col-xs-4 mt1">
                                <button type="button" class="btn btn-lg btn-default center-button answer" data-value="knowledge" data-question="subject"><span class="icon-knowledge"></span></button>
                                <p class="button-text">Knowledge</p>
                            </div>
                            <div class="col-xs-4 mt1">
                                <button type="button" class="btn btn-lg btn-default center-button answer" data-value="human rights" data-question="subject"><span class="icon-accessibility"></span></button>
                                <p class="button-text">Human rights</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row shorter">
                            <div class="pl1">
                                <h3>Area</h3>
                            </div>
                            <div class="col-xs-4">
                                <button type="button" class="btn btn-lg btn-default center-button answer" data-value="global" data-question="area"><span class="icon-global"></span></button>
                                <p class="button-text">Global</p>
                            </div>
                            <div class="col-xs-4">
                                <button type="button" class="btn btn-lg btn-default center-button answer" data-value="sweden" data-question="area"><span class="icon-local"></span></button>
                                <p class="button-text">Local</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row shorter">
                            <div class="pl1">
                                <h3>How to help</h3>
                            </div>
                            <div class="col-xs-4">
                                <button type="button" class="btn btn-lg btn-default center-button answer" data-value="donate" data-question="how"><span class="icon-money"></span></button>
                                <p class="button-text">Money</p>
                            </div>
                            <div class="col-xs-4">
                                <button type="button" class="btn btn-lg btn-default center-button answer" data-value="volunteer" data-question="how"><span class="icon-volunteering"></span></button>
                                <p class="button-text">Volunteering</p>
                            </div>

                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="pl1">
                                <h3>Size</h3>
                            </div>
                            <div class="col-xs-4">
                                <button type="button" class="btn btn-lg btn-default center-button answer" data-value="small" data-question="size"><span class="icon-small"></span></button>
                                <p class="button-text">Small</p>
                            </div>
                            <div class="col-xs-4">
                                <button type="button" class="btn btn-lg btn-default center-button answer" data-value="medium" data-question="size"><span class="icon-medium"></span></button>
                                <p class="button-text">Medium</p>
                            </div>
                            <div class="col-xs-4">
                                <button type="button" class="btn btn-lg btn-default center-button answer" data-value="big" data-question="size"><span class="icon-big"></span></button>
                                <p class="button-text">Big</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xs-12">
            <div class="well">
                <div class="row">
                    <h2 class="text-center">Nonprofits</h2>
                    {% if orgs %}
                    <!--<ul class="list-unstyled">-->
                    {% for organisation in orgs %}
                    <div class="col-xs-4 col-sm-2 col-md-4 thumb org_thumb" id="org{{organisation.id}}" >

                            <a href="/organisation/{{organisation.id}}" class="thumbnail">
                                <div class="frame2">
                                    <span class="helper"></span>
                                    <img src="/static/charitymatch/organisations/image/{{organisation.get_name}}"
                                         title="{{organisation.name}}" class="img-responsive2">
                                </div>
                            </a>

                    </div>
                    {% endfor %}
                    <!--</ul>-->

                    <span id="endpoint"></span>
                    {% else %}
                    <p>No organisations are available</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>



    {% endblock %}
</div>
{% block js %}
<script src="/static/charitymatch/js/site.js"></script>
{% endblock %}

