{% extends "base.html" %}

{% block style %}
    <style>
        .back-button {
            float:right;
        }
        .relative {
            position:relative;
        }
        .current {

        }

    </style>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-8 col-s-12">
        <div id="question-div" class="relative">
            <div class="well relative question current">
                <button type="button" class="btn btn-xs btn-default back-button"><i class="fa fa-chevron-down" aria-hidden="true"></i></button>
                <h3>Is this a question?</h3>
                <p>
                    <button type="button" class="btn btn-lg btn-default answer" data-answer="Yes">Yes</button>
                    <button type="button" class="btn btn-lg btn-default answer" data-answer="No">No</button>
                </p>

            </div>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"><span class="sr-only">60% Complete</span></div>
            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 10%"><span class="sr-only">10% current</span></div>
        </div>
    </div>
    <div class="col-md-4 col-s-12">

        <div class="well" id="gridwell">
            {% if orgs %}
            <ul class="list-unstyled">
                {% for organisation in orgs %}
                <li class="col-md-4 parent gridelement">

                    <!--Organisation: ID {{organisation.id}} - -->
                    <!--<a href="/organisation/{{organisation.id}}">{{organisation.name}}</a>-->
                    <div class="child gridthumb">
                        <a href="/organisation/{{organisation.id}}">
                            <img src="/static/charitymatch/organisations/image/{{organisation.get_name}}" width="100">
                        </a>
                    </div>

                </li>
                {% endfor %}
            </ul>

            <span id="endpoint"></span>
            {% else %}
            <p>No organisations are available</p>
            {% endif %}
        </div>


    </div>
</div>



{% endblock %}

{% block js %}
<script>
$( document ).ready(function() {

    function createQuestion(title){
        var questionDiv = $('<div class="well relative question current newquestion"></div');
        questionDiv.append($('<button type="button" class="btn btn-xs btn-default back-button"><i class="fa fa-chevron-down" aria-hidden="true"></i></button>'));
        questionDiv.append($('<h3>'+ title +'</h3>'));
        questionDiv.append($('<p><button type="button" class="btn btn-lg btn-default answer" data-answer="Yes">Yes</button><button type="button" class="btn btn-lg btn-default answer" data-answer="No">No</button></p>'));
        return questionDiv;

    }

    $('.answer').click(function(){
        console.log($(this).data('answer'));
        var current = $('.current');
        current.animate({
            top: '-250px'
        }, 700, function(){
            current.detach();
            $('.current').removeClass('current');
            var newQuestion = createQuestion('Question 2').hide();
            $('#question-div').append(newQuestion);
            newQuestion.fadeIn(400);

        });
        
    })
});
</script>
{% endblock %}
