{% extends "base.html" %}

{% block style %}
    <style>
        .back-button {
            float:right;
        }
        .relative {
            position:relative;
        }
        .center-button {
            display:block;
            margin: 0 auto 0 auto;
        }
        .mt1 {
            margin-top: 12px;
            height: 100px;
        }
        .button-text {
            font-size:100%;
            text-align:center;
        }

    </style>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-8 col-s-12">
        <div id="question-div">
            <div class="well">
                <h2>Form header</h2>
                <div>
                    <h3>Interest subject</h3>
                    <div class="row">
                        <div class="col-md-4 mt1">
                            <button type="button" class="btn btn-lg btn-default center-button  answer" data-answer="Yes"><i class="fa fa-leaf" aria-hidden="true"></i></button>
                            <div class="center-button">
                                <button type="button" class="btn btn-default btn-xs center-button">E</button>
                            </div>
                            <p class="button-text">Text</p>
                            
                        </div>
                        <div class="col-md-4 mt1">
                            <button type="button" class="btn btn-lg btn-default center-button" data-answer="Yes"><i class="fa fa-leaf" aria-hidden="true"></i></button>
                            <p class="button-text">Text</p>
                        </div>
                        <div class="col-md-4 mt1">
                            <button type="button" class="btn btn-lg btn-default center-button" data-answer="Yes"><i class="fa fa-leaf" aria-hidden="true"></i></button>
                            <p class="button-text">Text</p>
                        </div>
                        <div class="col-md-4 mt1">
                            <button type="button" class="btn btn-lg btn-default center-button" data-answer="Yes"><i class="fa fa-leaf" aria-hidden="true"></i></button>
                            <p class="button-text">Text</p>
                        </div>
                        <div class="col-md-4 mt1">
                            <button type="button" class="btn btn-lg btn-default center-button" data-answer="Yes"><i class="fa fa-leaf" aria-hidden="true"></i></button>
                            <p class="button-text">Text</p>
                        </div>
                        <div class="col-md-4 mt1">
                            <button type="button" class="btn btn-lg btn-default center-button" data-answer="Yes"><i class="fa fa-leaf" aria-hidden="true"></i></button>
                            <p class="button-text">Text</p>
                        </div>
                    </div>
                </div>
                <div>
                    <h3>Size</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-lg btn-default center-button" data-answer="Yes"><i class="fa fa-home" aria-hidden="true"></i></button>
                            <p class="button-text">Text</p>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-lg btn-default center-button" data-answer="Yes"><i class="fa fa-home" aria-hidden="true"></i></button>
                            <p class="button-text">Text</p>
                        </div>
                    </div>
                </div>
                <div>
                    <h3>Area</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-lg btn-default center-button" data-answer="Yes"><i class="fa fa-globe" aria-hidden="true"></i></button>
                            <p class="button-text">Text</p>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-lg btn-default center-button" data-answer="Yes"><i class="fa fa-globe" aria-hidden="true"></i></button>
                            <p class="button-text">Text</p>
                        </div>
                    </div>
                </div>
                <div>
                    <h3>How to help</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-lg btn-default center-button" data-answer="Yes"><i class="fa fa-money" aria-hidden="true"></i></button>
                            <p class="button-text">Text</p>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-lg btn-default center-button" data-answer="Yes"><i class="fa fa-money" aria-hidden="true"></i></button>
                            <p class="button-text">Text</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="row">
            <div class="well">
                {% if orgs %}
                <!--<ul class="list-unstyled">-->
                {% for organisation in orgs %}
                <div class="col-md-4 col-sm-2 col-xs-3">

                    <!--Organisation: ID {{organisation.id}} - -->
                    <!--<a href="/organisation/{{organisation.id}}">{{organisation.name}}</a>-->
                    <div class="child gridthumb center-block">
                        <a href="/organisation/{{organisation.id}}">
                            <img src="/static/charitymatch/organisations/image/{{organisation.get_name}}"
                                 title="{{organisation.name}}"
                                 width="100">
                        </a>
                    </div>

                </div>
                {% endfor %}
                <!--</ul>-->

                <span id="endpoint"></span>
                {% else %}
                <p>No organisations are available</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block js %}
<script>
$( document ).ready(function() {
    // using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    var answers = [];


    $('.answer').click(function(){
        //Answer was clicked.
        var answer = $(this).data('answer');
        answers.push(answer);
        //Ajax request
        $.ajax({
          method: 'POST',
          url: "searchQuery",
          dataType: 'json',
          contentType: 'application/json; charset=utf-8',
          data: JSON.stringify({ answers: answers })
        })
          .done(function( msg ) {
            console.log("Data Saved: " + msg );
          })
            .fail(function(e) {
            console.log(e );
            });


        
    })
});
</script>
{% endblock %}
