{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">

        <div class="col-md-8">
            <h1>{{org.name}} (ID:{{org.id}})</h1>
        </div>
        <div class="col-md-4">
            <a href="{{org.link}}">
                <img src="{{org.get_image_path}}" title="{{org.name}}">
            </a>
        </div>
        <!--<img src="/static/charitymatch/organisations/image/{{org.get_name}}" width="100">-->
    </div>
    <p>{{org.description}}</p>

    <p>
        <a href="{{org.link}}">Go to the home page</a>
    </p>

    <p>
        Pic: {{org.get_image_path}}
    </p>

</div>



{% endblock %}